<header>
    <div class="logo-container">
        <img src="/images/LogoIChaine.png" alt="Logo Centre de Formation" class="logo">
        <h1>Centre de Formation</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="#formations">Nos Formations</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>